body {
    background: mediumturquoise;
}

.head {
    width: 95%;
    height: 100px;
    background: transparent;
    text-align: center;
}


.footer {
    width: 95%;
    height: auto;
    background: transparent;
    text-align: left;

}


.border-style {
    border: 1px solid paleturquoise;
    border-radius: 15px;
    box-shadow: 10px 10px 10px darkturquoise;
}


.font-style {
    color: #292F33;
    text-shadow: 2px 2px black;
    letter-spacing: 1px;
}


.middle {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.top {
    top: 10%;
}


.middle-top {
    top: 50%;
}


.bottom {
    bottom: 0%;
}

.web-content {
    width: 95%;
    height: auto;
    background: transparent;
}

.numbers {
    display: inline-block;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.calculator-actions {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


.margin {
    margin: 10px;
}


.calculator-form {
    flex-direction: column;
}


.calculator-action {
    width: auto;
    height: auto;
    text-align: center;
}

.border-style-red {
    border: 1px solid red;
    border-radius: 15px;
    box-shadow: 10px 10px 10px darkred;
}

.border-style-clicked {
    border: 1px solid navajowhite;
    border-radius: 15px;
    box-shadow: 10px 10px 10px darkcyan;
    background: paleturquoise;
}


.invisible {
    width: 0%;
    height: 0%;
    background: transparent;
}


.basic-actions-container {
    width: auto;
    height: auto;
}

.basic-action {
    width: 90%;
    height: auto;
    text-align: center;
    font-size: 50px;

}

.action-margin {
    margin: 5px;
}

.calculator-button {
    width: auto;
    height: auto;
    text-align: center;
    background: transparent;
    font-size: 50px;
}


.calculator-button:hover {
    background: paleturquoise;
}

.calculator-button-container {
    width: 50%;
    height: auto;
    justify-content: space-around;
}

.number {
    font-size: 20px;
    text-shadow: 1px 1px black;
}