<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <title>Online-calculator</title>
</head>
<body>
    <div class="head middle top font-style border-style">
        <h1>Online Calculator</h1>
    </div>
    <div class="web-content middle middle-top border-style font-style">
        <form class="flex">
            <div class="numbers">
                <p1>INPUT VALUES <input /></p1>
                <p1>RESPONSE VALUES<input /></p1>
            </div>
        </form>

    </div>
    <div class="footer middle bottom font-style border-style">
        <h1>Basic footer</h1>
    </div>
</body>
</html>