<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <script src="/static/js/main.js"/>
    <title>Online-calculator</title>
</head>
<body>
    <div class="head middle top font-style border-style">
        <h1>Online Calculator</h1>
    </div>
    <div class="web-content middle middle-top border-style font-style">
        <form action="#" th:action="@{/index}" th:object="${calculator}" method="post" class="flex calculator-form">
            <div class="numbers margin">
                <p1>First number: <input  type="text" th:field="*{firstNumber}"/></p1>
                <p1>Second number: <input  type="text" th:field="*{secondNumber}"/></p1>
            </div>
            <!--div class="calculator-actions border-style font-style margin"
                 th:field="*{action}" th:attr="data-actions=*{actions}"-->
            <!--div class="calculator-actions border-style font-style margin">
                <label th:each="action: *{actions}" th:value="${action}" th:text="${action}"
                       class="calculator-action border-style font-style margin">
                    <input type="checkbox" th:value="${action}"/>
                </label-->
            <div class="calculator-actions border-style font-style margin">
                <input class="invisible" th:field="*{action}" id="calculator-action"/>
                <div th:each="action: *{actions}" th:value="${action}" th:text="${action}"
                     class="calculator-action border-style font-style margin" onclick="setCalculatorAction(this)">
                </div>
            </div>
            <input type="submit" value="Submit" class="calculator-action border-style font-style margin"/>
        </form>
        <script th:inline="javascript">
            /*<![CDATA[*/
            alertResult([[${calculator}]]);
            /*]]>*/
        </script>
    </div>
    <div class="footer middle bottom font-style border-style">
        <h1>Basic footer</h1>
    </div>
</body>
</html>